/* CSS RESET */
*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth ;
}
/* CSS VARIABLE */
:root{
    --navbar-height:60px;
}

/* logo and image styling  */
#logo{
  margin:1px 15px;
}
#logo img{
    height:60px;
    margin:3px 5px;
}

/* navigation list styling */
#navbar{
    display:flex;
    align-items: center;
    position:sticky;
    top:0px;
}

#navbar ul{
    display: flex;
}
#navbar::before{
    /*to put that black strip in the nav*/
    content:"";
    background-color:rgb(43, 41, 41);
    position:absolute;
    top:0px;
    height: 100%;
    width: 100%;
    z-index:-1;
    opacity:0.5;
}
#navbar ul li{
    list-style:none;
    font-size:1.6rem;
    font-family: 'Redressed', cursive;
}
#navbar ul li a{
   /* padding a me do for better hover*/
   /*display ko block kiya kyuki padding deni h*/
    display: block;
    padding:6px 22px;
    border-radius:20px;
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover{
    color:black;
    background-color: white;
 }

 /* /home section edit */
 #home{
     /* poore home ko ek hi line me */
     display:flex;
     flex-direction: column;
     padding:3px 2px;
     height:550px;
     justify-content: center;
     align-items: center;
 }
 #home::before{
    content:"";
    background:url('../bg1.jpg') no-repeat center center/cover;
    position:absolute;
    height: 642px;
    top:0px;
    width: 100%;
    z-index:-1;
    opacity:0.89;
 }
 #home h1{
     color:white;
     text-align: center;
     font-family: 'Redressed', cursive;
 }
 #home p{
    color:white;
    padding:0px 80px;
    font-family: 'Redressed', cursive;
    font-size: 30px;
    text-align: center;
 }

 /* services container */
 #services{
     margin:40px;
     /* eske andr 3 box will come so it is flex */
     display:flex;
 }
 
 #services .box{
    border:2px solid brown;
    margin: 10px;
    border-radius: 23px;
    background-color: rgb(243, 222, 222);
    height: 350px;
    margin:10px 10px;
    text-align: center;
 }
 #services .box img{
   height: 100px;
   margin:auto;
   display:block;
   padding:6px;
 }
 #services .box p{
    font-family: 'Redressed', cursive;
    padding:0px 10px;
    font-size: 20px;
 }

 /* client section  */
#client-section{
     /* height: 344px ; */
 }
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height:130px;
    padding:30px;
}
#client-section::before{
    content:"";
    background:url('../bg.jpg') no-repeat center center/cover;
    position:absolute;
    height: 40%;
    width: 100%;
    z-index:-1;
    opacity:0.4;
}

/* contact section  */
#contact{
    position:relative;
}

#contact::before{
    content:"";
    background:url('../contact.jpg') no-repeat center center/cover;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index:-1;
    opacity:0.4;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
 #contact-box input,#contact-box textarea{
     width:100%;
     padding:0.5rem;
     border-radius: 9px;

 }
 #contact-box form{
     width:40%;
 }
 #contact-box label{
     font-size: 1.3rem;
     font-family: 'Redressed', cursive;
 }
 
/* footer  */
footer{
    background-color: black;
    color: white;
}

 /* utility classes */
 .h-primary{
    font-family: 'Redressed', cursive;
     font-size: 3.8rem;
     padding: 12px;
 }
 .h-secondary{
    font-family: 'Redressed', cursive;
    font-size: 2.3rem;
    padding: 12px;
}
 .btn{
     padding: 6px 15px;
     border: 2px solid white;
     background-color: brown;
     color: white;
     margin: 80px;
     font-size: 1.4rem;
     border-radius: 10px;
     cursor:pointer;
 }
 .center{
     text-align: center;
 }
 



